<div class="wrapper-header">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <ul class="menu-header">
                <li><a routerLink="/cadastro"><button>Countries</button></a></li>
                <li><button>Locations</button></li>
                <li><button>Departments</button></li>
                <li><button>Employees</button></li>
            </ul>
        </div>
        <div class="col-xs-12 col-md-8">
            <form>
                <div class="form-row align-items-center">
                    <div class="col-auto my-1">
                        <div class="form-check">
                            <label class="form-check-label" for="autoSizingCheck2">
                                <b>Buscar por...</b>
                            </label>
                            <input type="text" class="form-control" id="inlineFormInputName"
                                placeholder="Digite...">
                        </div>
                    </div>
                    
                    <div class="col-auto my-1">
                        <button type="submit" class="btn btn-primary acessar-conta">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div >