<div class="wrapper-header">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <div class="col-auto my-0">
                <div class="home-button">
                    <a routerLink="/"><img src="https://image.flaticon.com/icons/png/512/69/69524.png" width="60"
                            height="60"></a>
                            <h4>Nossa Aplicação</h4>
                            <p>PucMinas</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <form>
                <div class="form-row align-items-center">
                    <div class="col-auto my-1">
                        <div class="form-check">
                            <label class="form-check-label" for="autoSizingCheck2">
                                <b>Buscar por...</b>
                            </label>
                            <input type="text" class="form-control" id="inlineFormInputName" placeholder="Digite...">
                        </div>
                    </div>
                    <div class="select-buttons">
                        <div class="col-auto my-1">
                            <button type="submit" class="btn btn-primary acessar-conta">Search</button>

                            <a routerLink="/cadastro"><button type="submit"
                                    class="btn btn-primary acessar-conta">Cadastrar</button></a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>