<div class="container">
    <div class="row box-cadastro">
        <div class="col-xs-12 col-md-12">
            <ul class="menu-h-cadastro">
                <li><a routerLink="/cadastro"><button>Countries</button></a></li>
                <li><button>Locations</button></li>
                <li><button>Departments</button></li>
                <li><button>Employees</button></li>
            </ul>
        </div>
        <div class="col-12">
            <h3 class="text-center">Cadastro de informações</h3>
            <form class="mt-5">
                <div class="form-group">
                    <input type="text" class="form-control cadastro" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="Nome">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control cadastro" id="exampleInputPassword1" placeholder="CPF">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control cadastro" id="exampleInputPassword1" placeholder="E-mail">
                </div>
                <div class="form-group">
                    <input type="tel" class="form-control cadastro" id="exampleInputPassword1" placeholder="Telefone">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control cadastro" id="exampleInputPassword1" placeholder="Endereço">
                </div>
                <button type="submit" class="btn btn-cadastro btn-lg">Cadastrar</button>
            </form>
        </div>
    </div>
</div>