<mat-tab-group>
    <mat-tab label="CADASTRO">
        <mat-tab-group>
            <mat-tab label="FUNCIONARIOS">
                <div class="container">
                    <div class="row box-cadastro">
                        <div class="col-12">
                            <h3 class="text-center">Cadastro de Funcionarios</h3>
                            <form class="mt-5">
                                <div class="form-group">
                                    <input type="number" class="form-control cadastro" id="exampleInputPassword1"
                                        placeholder="EMPLOYEE_ID">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control cadastro" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="FIRST_NAME">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control cadastro" id="exampleInputPassword1"
                                        placeholder="LAST_NAME">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control cadastro" id="exampleInputPassword1"
                                        placeholder="EMAIL">
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control cadastro" id="exampleInputPassword1"
                                        placeholder="PHONE_NUMBER">
                                </div>
                                <div class="form-group">
                                    <p>HIRE_DATE<p>
                                            <input type="date" class="form-control cadastro" id="exampleInputPassword1"
                                                placeholder="HIRE_DATE">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control cadastro" id="exampleInputPassword1"
                                        placeholder="JOB_ID">
                                </div>
                                <div class="form-group">
                                    <input type="number" class="form-control cadastro" id="exampleInputPassword1"
                                        placeholder="SALARY">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control cadastro" id="exampleInputPassword1"
                                        placeholder="COMMISSION_PCT">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control cadastro" id="exampleInputPassword1"
                                        placeholder="MANAGER_ID">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control cadastro" id="exampleInputPassword1"
                                        placeholder="DEPARTMENT_ID">
                                </div>
                                <button type="submit" class="btn btn-cadastro btn-lg">Cadastrar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="DEPARTAMENTOS">
                <div class="container">
                    <div class="row box-cadastro">
                        <div class="col-12">
                            <h3 class="text-center">Cadastro de Departamentos</h3>
                            <form class="mt-5">
                                <div class="form-group">
                                    <input type="number" class="form-control cadastro" id="exampleInputPassword1"
                                        placeholder="DEPARTMENT_ID">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control cadastro" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="DEPARTMENT_NAME">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control cadastro" id="exampleInputPassword1"
                                        placeholder="MANAGER_ID">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control cadastro" id="exampleInputPassword1"
                                        placeholder="LOCATION_ID">
                                </div>
                                <button type="submit" class="btn btn-cadastro btn-lg">Cadastrar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="ENDEREÇOS">
                <div class="container">
                    <div class="row box-cadastro">
                        <div class="col-12">
                            <h3 class="text-center">Cadastro de Endereços</h3>
                            <form class="mt-5">
                                <div class="form-group">
                                    <input type="number" class="form-control cadastro" id="exampleInputPassword1"
                                        placeholder="LOCATION_ID">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control cadastro" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="STREET_ADDRESS">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control cadastro" id="exampleInputPassword1"
                                        placeholder="POSTAL_CODE">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control cadastro" id="exampleInputPassword1"
                                        placeholder="CITY">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control cadastro" id="exampleInputPassword1"
                                        placeholder="STATE_PROVINCE">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control cadastro" id="exampleInputPassword1"
                                        placeholder="COUNTRY_ID">
                                </div>
                                <button type="submit" class="btn btn-cadastro btn-lg">Cadastrar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="PAÍSES">
                <div class="container">
                    <div class="row box-cadastro">
                        <div class="col-12">
                            <h3 class="text-center">Cadastro de Países</h3>
                            <form class="mt-5">
                                <div class="form-group">
                                    <input type="text" class="form-control cadastro" id="exampleInputPassword1"
                                        placeholder="COUNTRY_ID">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control cadastro" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="COUNTRY_NAME">
                                </div>
                                <div class="form-group">
                                    <input type="number" class="form-control cadastro" id="exampleInputPassword1"
                                        placeholder="REGION_ID">
                                </div>
                                <button type="submit" class="btn btn-cadastro btn-lg">Cadastrar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-tab>
    <mat-tab label="LOCALIZAR">
        <mat-tab-group>
            <mat-tab label="FUNCIONARIOS">
                <div class=box-localizar>
                    <ag-grid-angular class="ag-theme-balham" [rowData]="employees" [columnDefs]="columnFunc"
                        [modules]="modules">
                    </ag-grid-angular>
                </div>
            </mat-tab>
            <mat-tab label="DEPARTAMENTOS">
                <div class=box-localizar>
                    <ag-grid-angular class="ag-theme-balham" [rowData]="departments" [columnDefs]="columnDepart"
                        [modules]="modules">
                    </ag-grid-angular>
                </div>
            </mat-tab>
            <mat-tab label="ENDEREÇOS">
                <div class=box-localizar>
                    <ag-grid-angular class="ag-theme-balham" [rowData]="locations" [columnDefs]="columnEnd"
                        [modules]="modules">
                    </ag-grid-angular>
                </div>
            </mat-tab>
            <mat-tab label="PAÍSES">
                <div class=box-localizar>
                    <ag-grid-angular class="ag-theme-balham" [rowData]="countries" [columnDefs]="columnPaises"
                        [modules]="modules">
                    </ag-grid-angular>
                </div>
            </mat-tab>
            <mat-tab label="TODOS">
                    <div class=box-localizar>
                        <ag-grid-angular class="ag-theme-balham" [rowData]="todos" [columnDefs]="columnTodos"
                            [modules]="modules">
                        </ag-grid-angular>
                    </div>
                </mat-tab>
        </mat-tab-group>
    </mat-tab>
</mat-tab-group>