<div class="wrapper">
        <div class="topicos">
                <div class="container">
                        <div class="row">
                                <div class="col-3">
                                        <ul class="topicos-footer">
                                                <h6>Documentação do Trabalho</h6>
                                        </ul>
                                </div>
                                <div class="col-3">
                                        <ul class="topicos-footer">
                                                <h6>Resultados Monitoramento</h6>

                                        </ul>
                                </div>
                                <div class="col-3">
                                        <ul class="topicos-footer">
                                                <h6>Referências</h6>
                                        </ul>
                                </div>
                        </div>
                </div>
        </div>
        <footer class="rodape">
                <p class="text-center">&copy; Todos os Direitos reservados a
                        <b>Gabriel Augusto, Raphael Araujo, Leonardo Rodrigues e Marcos Paz</b>
                </p>
        </footer>
</div>